
:root{
  --main-bg:#1a2040;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

.active{
  color: #211b40;
  border-bottom: 2px solid #211b40;
  transition: all ;
}

.marquee {
  height: 100%;
  background: red !important;
  z-index: 100;
  display: flex;
  align-items: center;
  
}
.marqueeText{
  font-size: 12px;
}

/* Disable button */
.disablebutton{
  background: #000000 !important;
  padding: 8px 34px !important;
}

.signinbutton {
  font-weight: 500;
  color: #090909 !important;
  background: #fabb04 !important;
  border: 1px solid #fabb04 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 4px !important;
  transition: 0.5s !important;
  position: relative !important;
  z-index: 1;
  margin: 0 5px !important;
}
.signupbutton {
  font-weight: 500 !important;
  color: #fabb04 !important;
  background: #090909 !important;
  border: 1px solid #fabb04 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 4px !important;
  transition: 0.5s !important;
  position: relative !important;
  z-index: 1;
  margin: 0 5px !important;
}

.signinbutton:hover {
  color: #fff !important;
}
.signupbutton:hover {
  color: #fff !important;
}

.signinbutton::before {
  position: absolute !important;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: #131218;
  transform: scale(0);
  transition: 0.5s;
}

.signinbutton:hover::before {
  transform: scale(1);
}

.signinbutton::after {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: -22px;
  width: 39%;
  height: 24%;
  box-shadow: 16px 36px 26px #21b68f;
}


/* navbar */
.mainNav{
  background: transparent !important;
    position: relative;
    z-index: 444;
    padding: 10px auto;
    border-bottom: 1px solid rgb(154,153,166,0.3)
 
}
.sticky {
  left: 0;
  margin: auto;
  position: fixed !important;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  background: #000000 !important;
  transition: .5s;
  z-index: 999;
  border: 0;
}

/* Hero section */

.hero-section{
  background: #050603;
    
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242a33;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f555c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Footer */
/* Footer.css */

/* .footer-section {
  /* Custom styles for the entire footer section */
/* } */ 

.footer-section h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fabb04;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

/* Custom styles for the social media icons */
.footer-section .social-icon {
  font-size: 24px;
  margin-right: 10px;
  display: flex;
}

/* Custom styles for each social media icon */
.footer-section .facebook-icon {
  color: #3b5998;
}

.footer-section .telegram-icon {
  color: #0088cc;
}

.footer-section .youtube-icon {
  color: #c4302b;
}

/* Add any other custom styles as needed */
