
:root{
  --main-bg:#010314;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

.hero-section{
  background: var(--main-bg) !important;
}





/* Disable button */
.disablebutton{
  background: #000000 !important;
  padding: 8px 34px !important;
}







/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242a33;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f555c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* Add any other custom styles as needed */
/* commob btn */

.commonButton{
  padding: 15px 34px;
  font-weight: 500;
  font-family: 'Montserrat';
  background: #FFBD00;
  color: #fafafa;
  border-radius: 5px;
  border: 1px solid #FFBD00;
  position: relative;
  
  z-index: 1;
}
.commonButton:hover{
color: #fff;
}
.commonButton::before{
position: absolute;
  content: "";
  z-index: -1;
  right: 0;
  bottom: 0;
  left: inherit;
  top: inherit;
  width: 26px;
  height: 22px;
  background: #FFD761;
  border-radius: 25px 0 0 0;
  transition: .5s;

}

.commonButton:hover:before {
width: 100%;
height: 100%;
border-radius: 5px;
}

/* modal background */
.modal-content {
  background: #0d151e !important;
}



