.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
}
@media (min-width: 992px) {
  .herocontentLeft {
    text-align: left !important;
  }
}

.heading{
  color: #fff !important;
}


.heroButton{
    padding: 15px 34px;
    font-weight: 500;
    font-family: 'Montserrat';
    background: #FFBD00;
    color: #fafafa;
    border-radius: 5px;
    border: 1px solid #FFBD00;
    position: relative;
    
    z-index: 1;
}
.heroButton:hover{
  color: #fff;
}
.heroButton::before{
  position: absolute;
    content: "";
    z-index: -1;
    right: 0;
    bottom: 0;
    left: inherit;
    top: inherit;
    width: 26px;
    height: 22px;
    background: #FFD761;
    border-radius: 25px 0 0 0;
    transition: .5s;

}

.heroButton:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.image1{
  position: absolute;
  right: 25%;
    top: -10%;
    animation: bounce 5s infinite;
}
.image4{
  position: absolute;
  left: 25%;
    top: -7%;
    animation: bounce 6s infinite;
}
.image5{
  position: absolute;
  left: 15%;
    bottom: -10%;
    animation: bounce 5s infinite;
}
.image2{
  position: absolute;
  top: 5%;
    left: 5%;
    animation: bounce 3s infinite;
}
.image3{
  position: absolute;
  right: 3%;
  left: inherit;
  top: 85%;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
